@model MVCInternetGamesShop.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <img src="#" />
    <h1>BANNER PLACEHOLDER</h1>
</div>



<div class="bestseller">
    <h1>Bestsellery</h1>
    <div class="row">
        <div class="col-md-4">
            @foreach ( var newest in Model.PCBestsellers)
            {
                <div class="rectangle"></div>
                    
                

            }
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>