#banner {
    width:auto;
    height:278px;
    background-color:cadetblue;
    text-align: center;
    
}

.rectangle {
    width: 50px;
    height: 70px;
    background-color: aquamarine;
}

.bestsellers {
    height: 100px;
    width: 100px;
    background-color: green;
}

img {
    max-height: 100%;
    max-width: 100%;
}



.game {
    background-color: tan !important;
    height: 200px;
    width: 200px;
    
}







