
.button {
    display: block;
}


#banner {
    margin-top: 50px;
    width:auto;
    height:278px;
    background-color:#e6b9b9;
    text-align: center;
    
}

img {
    max-height: 100%;
    max-width: 100%;
}
.img-container-large {
    height: 300px;
    width: 300px;
    position: relative;
}

.img-container-large:hover img {
    opacity: 0.5;
   
}

.img-container-large:hover .edit-game-button {
    opacity: 1;
}
.img-container-small {
    height: 100px;
    width: 100px;
}

#test {
    width: 400px;
}
.hide {
    display: none;
}

.edit-game-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}










